$black: #221f1f;
$less_black: #242726;
$dark_grey: #2e3233;
$light_grey: #767676;
$muted_grey: #7e7e7e;
$siemens_color: #009999;

$red: red;

.muted-c{
    color: $muted_grey,
}

label{
    font-size: 18px;
    color: $light_grey;
}

.c-r{
    color: $red;
}

.rs-theme-dark{
    .new{
        color: yellow;
    }

    #join-form{
        background-color: $less_black;
    }
}

.rs-theme-light{
    #join-form{
        background-color: white;
    }
}

#join-form{
    background-color: white;
}
    
.rs-theme-light .new{
    color: #5cdb00
}

.rs-theme-dark {
    .added-color{
        color: rgb(40, 224, 95);
    }
}

.rs-theme-light {
    .added-color{
        color: rgb(22, 179, 8);
    }
}

.rs-panel-header {
    padding-bottom: '5px';
}

#background-train{
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

#tag-line{
    color: white;
    position: absolute;
    top: 20%;
    left: 90px;
    width: 609px;
}